.objeto { 
    height: 100px;
    background-color: aqua;
    border-radius: 30px;
    box-shadow: 5px  5px 20px rgba(0,0,0,0.5);

}
.menu {
   list-style: none;
   display: flex;
   justify-content: right;
   padding: 45px;
}


nav ul li {
    margin: 20px;



}

.fogo{
    width: 300px;
    height: 600px;
    background-color: aquamarine;
    border-radius: 30px;
    box-shadow:5px 5px 20px rgba(0,0,0,0.5);
    position: relative;
    top: 20px;
    float: right;
}

body{
    background-image: url(OIP\ \(4\).jfif);
    background-size: cover;
    background-repeat: no-repeat;

}

.menu2 {
list-style: none;
font-size: xx-large;
font-family: 'comic sans ms';
color: blueviolet; 
}



